<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
</head>
<link rel="stylesheet" href="/public/marga.css">
<body>

    <h2 id="abouth2">Margaret Hamilton</h2>
    <p>In the early 1960s, Margaret Hamilton began her career as a pioneering programmer and systems designer. And when NASA launched a series of missions that led to the first astronauts on the moon, Hamilton was director of the Software Engineering Division at the Massachusetts Institute of Technology’s Instrumentation Laboratory, developing the mission’s onboard flight software.</p>
    
    <a id="home" href="/home">Back to Home</a>


</body>
</html>