<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="/public/marga.css">
<body>
    <h1 id="heading">Inspirational Figures of History and Today</h1>


    <p id="intro">Throughout history and in contemporary times, there are individuals who stand out as beacons of inspiration and influence. These are the people we admire, whose lives and achievements leave a lasting imprint on our collective consciousness. They come from diverse backgrounds and fields, yet they share a common thread - their unwavering dedication, exceptional talents, and the positive impact they've made on the world.</p>


    <h2 id="homeh2">Margaret Hamilton</h2>


    <p>"Apollo was a rich experience filled with many life lessons.I learned if you don’t know, ask. Ask questions. Don’t be afraid to ask a dumb question. There is not a dumb question. What’s important is to learn what you need to learn.”</p>


    <a id="about" href="/About">About</a>
    <a id="works" href="/Works">Works</a>
    <a id="gallery" href="/gallery">Gallery</a>

    
</body>
</html>